* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    overflow-x: hidden;
}

.noidungto{
    transition: 0.5s;
    padding-top: 40px;
    box-sizing: border-box;
    height: 100%;
}

.menutrai{
    height: 100%;
    background-color: green;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 0.5s;
}

.menutrai.vetrai{
    transform: translateX(-100%);
}

li.list-group-item{
    color: white;
    background: none;
    text-transform: uppercase;
}

h3{
    font-size: 20px;
    padding: 20px;
    color: white;
}

.nut{
    width: 100px;
    margin: auto;
    display: block;
}

.den{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000007a;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.len{
    opacity: 1;
    visibility: visible;
}

.dichphai{
    transform: translateX(300px);
}